.input-select-input-group
{
overflow:hidden;
display:block;
}

.input-group-long
{
width:3800px;
}
.input-group-long label{
border-radius:2px;
background:#060;
color:white;font-size:12px;padding:2px 7px;
display:inline-block;margin:0 3px 0 0;
position:relative;top:-1px;
font-family:'microsoft yahei';
}
.input-group-long span{
display:inline-block;margin-left:2px;
height:12px;width:12px;text-align:center;border-radius:6px;
background:#090;
line-height:12px;
cursor:pointer;
}
.input-select{
position:relative;
width:350px;
}
.input-select-true{
position:absolute;
top:-5px;
width:100%;
background:white;
border:solid #ccc;
border-width:0 1px 1px;
border-bottom-left-radius:5px;
border-bottom-right-radius:5px;
z-index:9;
}

.input-select-true ul{
list-style:none;
margin:0;
padding:0;
}
.input-select-true li{
display:block;
margin:0;
padding:5px 10px;
border-top:1px solid #eee;
cursor:pointer;
}
.input-select-true li.hover{
background:#ffc;
}