.output-list{list-style:none;margin:0;padding:0;}
.output-list li{}
.output-list a{
display: block;
  padding: 6px 15px 7px;
  font-size: 13px;
  color: #333;}

.output-list a:hover{background:#f0f0f0;}
.output-list i{float:right;margin:8px 10px 0 0;display:none;}

.output-list li.active a {
  font-weight: 700;
  background: #F0F0F0;
  border-bottom: 1px solid #E7E7E7;
  color: #3276b1;
}

